<form method="post" action="{{ path('app_students_delete', {'idStudent': student.idStudent}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.idStudent) }}">
    <button class="btn">Delete</button>
</form>
